nav {
    background: linear-gradient(to right, #fd6a45, #4a4b4a);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0, 0, 0.3, 0.5);
}
nav ul{
    list-style-type:none;
    margin: 0;
    padding: 20px;
    float: left;
    position: relative;
    float: right;
    font-family: "Cabin", sans-serif;
}
nav ul li{
    display: inline;
    margin-right: 10px;

}
nav ul li a {
    color: rgb(248, 246, 246);
    text-decoration:none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.logo{
    width: 4%;
}
.card{
    margin-right: 30px;
    margin-top: 23px;
    display: flex;
    justify-content: flex-end;
}